<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <!-- TODO: Make this conn string importable! -->
    <add name = "recipe_book_db" providerName = "MySql.Data.MySqlClient"
         connectionString = "server=localhost;port=3306;database=recipe_book;user=root;password=toor" />
  </connectionStrings>
</configuration>